* {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.header {
  margin: 0 auto;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  color: #fff;
}

.homepage {
  padding: 50px;

  .empty {
    color: #fff;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .task_list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50vw;
    border-radius: 10px;

    .item {

    }
  }

  .create-task {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
    border: 1px solid transparent;
  }

  .create-task:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
}

.create-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 34.5);
  position: relative;

  nav {
    border-bottom: 1px solid #fff;
    margin: 16px;
    width: calc(100% - 3rem);
    display: flex;
    align-items: center;

    a {
      padding-bottom: 16px;
      color: #fff;
      text-decoration: none;
    }

    a:before {
      content: "<";
      margin-right: 10px;
    }
  }

  form {
    width: 100%;
    max-width: 50vw;
    display: flex;
    flex-direction: column;

    .title {
      color: #fff;
      text-align: center;
      margin-bottom: 70px;
    }

    .wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      input,
      textarea,
      select {
        margin-top: 5px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 2px 5px;
        height: 30px;
      }

      select,
      option {
        text-transform: capitalize;
      }

      textarea {
        height: auto;
      }

      label {
        text-transform: uppercase;
        color: #fff;
      }

      .box-error {
        margin-top: 5px;
        text-align: right;
      }
    }

    .save {
      background-color: rgba(3, 171, 7, 1);
      height: 40px;
      width: 150px;
      border: none;
      color: #fff;
      cursor: pointer;
      margin-left: auto;
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .save[disabled] {
      background-color: rgba(3, 171, 7, 0.5);
      color: rgba(0, 0, 0, 0.3);
    }

    .wrap:last-child {
      margin-bottom: 0;
    }

    .wrap.error {
      input {
        border-color: red;
      }

      label,
      .box-error {
        color: red;
      }
    }
  }

  .go-home {
    top: 0;
    right: 0;
  }
}
