#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.tasks-title {
  border-top: 1px solid black;
  padding-top: 10px;
}

.box-error {
  margin-top: 5px;
  grid-column: 1 / 3;
  color: red;
  text-align: center;
}

.list {
  padding: 0;
  max-width: 70vw;

  .headline {
    border-bottom: 1px solid lightblue;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-column-gap: 50px;
    text-align: left;
  }
}

.insert_data {
  .wrap {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    label {
      text-align: right;
    }
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.error {
  color: red;
  input {
    border: 1px solid red;
  }
}
