#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}

.insert_data {
  .wrap {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    label {
      text-align: right;
    }
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
